* {
  font-family: Josefin Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
main {
  width: 100vw;
  color: #fff;
}
.changephoto {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.current {
  opacity: 1;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 15px 0;
  width: 90px;
  text-align: center;
  transition: all 0.2s ease;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  transform: translateY(-1700px);
  animation: upAnim 1s ease forwards;
}
@keyframes upAnim {
  from {
    transform: translateY(-1700px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes leftAnim {
  20% {
    backdrop-filter: blur(7px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}
@keyframes rightAnim {
  from {
    transform: translateY(1700px);
  }
  to {
    transform: translateY(0);
  }
}
.burger {
  display: none;
  transition: all 0.2s ease;
}
.burger:hover {
  cursor: pointer;
  transform: translateX(-7px);
}
.nav {
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgb(255 228 237 / 0.07);
  border: 2px solid rgb(255 255 255 / 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  transition: all 0.2s ease-in;
}
@media (min-width: 976px) {
  h2.sevillla {
    width: 100%;
  }
}
@media (max-width: 976px) {
  .naslov {
    padding: 0 0;
    margin-left: -40px;
  }
  nav {
    justify-content: space-between;
    padding: 5px 30px;
  }
  .burger {
    display: block;
  }
  .contact,
  .nav {
    display: none;
  }
  .loc-about,
  #locations {
    flex-direction: column;
    gap: 50px;
  }
  .loc-lside h3 {
    text-align: center;
  }
}
.mapframe {
  display: none;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 30px rgb(255 228 237 / 0.37);
}
iframe {
  width: 100%;
}
@keyframes changeBg {
  0% {
    background: url(../imgs/aboutus.jpg);
  }
  100% {
    background: #0d0d0d;
  }
}
.contact-us:hover,
.nav:hover {
  border: 2px solid rgb(255 255 255 / 0.63);
  box-shadow: 0 0 30px rgb(277 228 237 / 0.37);
}
nav a:hover {
  transform: scale(1.1);
}
.naslov {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.sevilla {
  color: #d3adec;
}
.sevillla {
  color: #fff;
}
.contact-us {
  background-color: #fff0;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgb(277 228 237 / 0.07);
  border: 2px solid rgb(255 255 255 / 0.2);
  padding: 13px 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s ease-in;
  font-size: 0.9rem;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 30px;
  padding: 50px 0;
}
h2 {
  font-size: 3.5rem;
  margin-bottom: 5px;
  text-align: center;
}
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  font-size: 1.1rem;
  padding: 50px;
  border-radius: 0 30px 0 30px;
  opacity: 0;
  animation: leftAnim 2s ease forwards;
  margin: auto auto;
  z-index: 1;
}
.left-side p {
  text-align: center;
}
.little {
  margin-top: 20px;
  font-weight: 350;
  font-size: 0.8rem;
}
.buy-tickets {
  border: 2px rgb(255 255 255 / 0.322) solid;
  padding: 10px 40px;
  margin-top: 5px;
  font-size: 1.05rem;
  background-color: #6d44df;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.buy-tickets:hover {
  background-color: #fff0;
  backdrop-filter: blur(900px);
  box-shadow: 0 0 30px rgb(277 228 237 / 0.07);
  border: 2px solid rgb(255 255 255 / 0.2);
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  flex-wrap: wrap;
  transform: translateY(1700px);
  animation: rightAnim 1s ease forwards;
}
.right-side a {
  text-align: center;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px rgb(277 228 237 / 0.07);
  border: 2px solid rgb(255 255 255 / 0.2);
  padding: 10px 0;
  width: 200px;
  text-decoration: none;
  color: #fff;
  border-top: #fff 2px solid;
  transition: all 0.1s ease-in;
}
.right-side a:hover {
  transform: translateY(-7px);
  backdrop-filter: blur(30px);
}
a.selected {
  border: 2px solid #cca8f5;
  color: #fff;
}
a.selected:hover {
  background-color: rgb(255 255 255 / 0.11);
  border: 2px #fff0 solid;
  transform: scale(1);
}
#locations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e6e2e2;
  flex-wrap: wrap;
  color: #0d0d0d;
  padding: 30px;
  gap: 30px;
}
#locations h3 {
  font-size: 3rem;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  width: 500px;
  padding: 10px 20px;
  border: 1px solid #0d0d0d;
  transition: all 0.2s ease-in;
}
.item-left-side {
  display: flex;
}
.city-item {
  color: #541eeb;
  font-size: 1.15rem;
}
.street-item {
  font-size: 0.9rem;
  color: #161616d8;
}
.item:hover {
  border-left: 10px #0d0d0d solid;
  cursor: pointer;
}
.section-name-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-name-desc p {
  font-weight: 300;
}
#hotels {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #0d0d0d;
  color: #e6e2e2;
  gap: 50px;
  padding: 50px 0;
}
#hotels h3 {
  font-size: 3rem;
}
.places {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.place {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 260px;
  border-radius: 15px;
  padding-bottom: 20px;
  transition: all 0.2s ease-in;
  border-radius: 15px;
  border: 1px solid #ffffff3b;
  border-top: 0;
  position: relative;
}
.place-info {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
}
.place-img {
  background-repeat: no-repeat;
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.ocena {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.rating-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #037503;
  color: #e6e2e2;
  padding: 3px 5px;
  border-radius: 100px;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  max-height: 70px;
}
.real-price {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.place-info h4 {
  font-size: 1.2rem;
}
.spec {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 300;
}
.real-price {
  font-weight: 300;
}
.euro {
  font-size: 1.35rem;
  font-weight: 500;
}
.book-a-place {
  width: 80%;
  text-align: center;
  background-color: #6d44df;
  padding: 13px 20px;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.place:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgb(277 228 237 / 0.07);
  transform: translateY(-4px);
}
.book-a-place:hover {
  width: 90%;
}
.great {
  background-color: #68c768;
  color: #0d0d0d;
}
#hotels a {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #161616d8;
  transition: all 0.2s ease-in-out;
}
#hotels a:hover {
  background-color: #fff;
  color: #0d0d0d;
}
@media (max-width: 570px) {
  .item {
    width: 400px;
    gap: 0;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
  }
  .item-right-side {
    margin-left: 2.8rem;
  }
  .item img {
    margin-bottom: -1.9rem;
    margin-right: 10px;
  }
  .naslov-about-special {
    justify-content: center;
    align-items: center;
  }
  .naslov-about-special h1 {
    font-size: 2em;
  }
  .naslov-about-special img {
    width: 45px;
    margin-right: -5px;
  }
}
@media (max-width: 350px) {
  .section-name-desc p {
    font-size: 0.9rem;
  }
}
.naslov-about-special {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-screen {
  z-index: 1001;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgb(255 228 237 / 0.07);
  border: 2px solid rgb(255 255 255 / 0.2);
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
.burger-screen h2 {
  color: #fff;
  font-size: 2rem;
}
.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
}
.first-row img {
  width: 40px;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;
}
.first-row img:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-row li {
  list-style: none;
}
.second-row a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  display: block;
  padding: 10px 30px;
  border: 1px solid #fff;
  min-width: 300px;
}
.burger-screen .contact-us {
  margin-bottom: 150px;
}
.second-row a:active {
  border-color: #541eeb;
}
@media (max-width: 461px) {
  .item {
    width: 280px;
  }
  .right-side a {
    width: 150px;
  }
  main {
    height: 130vh;
  }
  .changephoto {
    height: 130vh;
  }
}
@media (max-width: 555px) {
  .places {
    padding: 0 30px;
  }
  .first-row-footer h1 {
    font-size: 1.05rem;
  }
  .first-row-footer {
    flex-direction: column;
    gap: 10px;
  }
  .place {
    flex-grow: 0.5;
  }
  .place-img {
    width: 100%;
  }
  .img-de-place {
    flex-grow: 1;
    border-radius: 0 0 0 0;
  }
  .book-a-place {
    width: 90%;
  }
}
.img-de-place {
  display: flex;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.best-this-month {
  border: 1px solid orange;
}
.bestseller {
  width: 80px;
  height: 20px;
  font-weight: 300;
  color: #0d0d0d;
  background-color: orange;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 3px;
  border-radius: 10px 0 10px 0;
}
#about-us {
  background-color: #e6e2e2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px 20px;
}
.about-us-special p {
  width: 300px;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0d0f18;
  color: #e6e2e2;
  padding: 20px 60px;
  text-align: center;
}
.specialfrance {
  color: #663cd8;
}
@media (min-width: 1040px) {
  #about-us {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 20px;
  }
  .about-us-special p,
  .about-us-special h2 {
    text-align: left;
  }
  .special-naslov {
    font-size: 4rem;
  }
}
@media (max-height: 700px) {
  main {
    height: 130vh;
  }
  .changephoto {
    height: 130vh;
  }
}
.loc-about {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
@media (max-width: 1077px) and (min-width: 800px) {
  .places {
    width: 790px;
  }
}
footer h1 {
  font-size: 1.2rem;
}
.img-footer {
  width: 100%;
  height: 100%;
}
.link-footer {
  border: 1px solid #fff;
  padding: 0;
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 100px;
  transition: all 0.2s ease-in;
}
.links-footer {
  display: flex;
  gap: 8px;
}
.first-row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.second-row-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.list p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  width: 30px;
  border-bottom: 3px #fff solid;
}
.list a {
  display: block;
  border: none;
  text-transform: none;
  font-weight: 300;
  text-align: left;
  width: 100%;
  padding: 0;
  color: #fff;
  text-decoration: underline #fff0;
  transition: all 0.2s ease-in-out;
}
.list a:hover {
  text-decoration: underline #fff;
}
.list {
  min-width: 250px;
  text-align: left;
  margin: 20px 0;
}
.list li {
  list-style: none;
  margin-bottom: 10px;
}
@media (max-width: 1140px) {
  footer {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .second-row-footer {
    justify-content: flex-start;
  }
}
p.copyright {
  margin-top: 30px;
  display: block;
  width: 100%;
  font-weight: 300;
  text-align: left;
}
.mapframe {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.link-footer:hover {
  transform: translateY(-5px);
  border: 2px solid #5760e6;
  cursor: pointer;
}
.contact a {
  padding: 0;
  width: 100%;
}
.contact a:hover {
  transform: scale(1);
}
